@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
}

/* Font */
@import url('static/font/PingFangSC.css');

body {
  font-family: 'PingFangSC-Medium-woff2', sans-serif;
}

/* Mermaid */
.mermaid {
  display: flex !important;
  justify-content: center;
  /* Center Diagram */
  margin-left: auto;
  margin-right: auto;
}